---
import {sanityClient} from "sanity:client";
import Layout from "../../../layouts/Layout.astro";
import PageTitle from "../../../components/PageTitle.astro";
import Category from "../../../data/ArchiveCategory";
export async function getStaticPaths({paginate}) {
  const allArticles = await sanityClient.fetch(`*[_type == 'article' && defined(slug) && defined(publishDate) && defined(category)] | order(publishDate desc) {
    title,
    publishDate,
    category,
    "slug": slug.current,
  }`);
  return paginate(allArticles, { pageSize: 10 });
}

const ArticleCategories = Category;
const { page } = Astro.props;
---

<Layout>
  <PageTitle
    title="Archive"
    subtitle="Praesentium ea asperiores molestias aperiam enim accusantium. Voluptatibus dicta quam eum labore dolorum eum nobis deleniti eum."
  />
  <main class="max-w-7xl mx-auto grid grid-cols-12 px-8">
    <ul class="col-span-2 space-y-2">
      <li class="text-sm text-neutral-900 tracking-wider">
        ALL
      </li>
      {ArticleCategories.map((category) => {
        return (
          <li>
            <a
              class="text-sm text-neutral-900 uppercase opacity-50 tracking-wider hover:opacity-100"
              href={`/archive/category/${category}/1`}
              data-astro-prefetch>
              {category.split('-').join(' ')}
            </a>
          </li>
        );
      })}
    </ul>
    <div class="col-start-4 col-end-12">
      <div class="space-y-8">
        {page.data.map((article) => {
          return (
            <article>
              <a href={`/archive/detail/${article.slug}`}>
                <h2 class="font-serif font-bold text-3xl text-neutral-900 mb-2">{article.title}</h2>
                <small class="text-base capitalize text-neutral-900 opacity-50">{article.category}</small>
              </a>
            </article>
          );
        })}
      </div>
      <div class="my-8 flex justify-between">
        {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
        {page.url.next ? <a href={page.url.next}>Next</a> : null}
      </div>
    </div>
  </main>
</Layout>
