---
import {sanityClient} from "sanity:client";
import Layout from "../../../layouts/Layout.astro";
import PageTitle from "../../../components/PageTitle.astro";
export async function getStaticPaths({paginate}) {
  const allArticles = await sanityClient.fetch(`*[_type == 'article' && defined(slug) && defined(publishDate) && defined(category)] | order(publishDate desc) {
    title,
    publishDate,
    category,
    "slug": slug.current,
  }`);
  return paginate(allArticles, { pageSize: 5 });
}

const { page } = Astro.props;
---

<Layout>
  <PageTitle
    title="Articles"
    subtitle="Praesentium ea asperiores molestias aperiam enim accusantium. Voluptatibus dicta quam eum labore dolorum eum nobis deleniti eum."
  />
  <main class="max-w-5xl mx-auto">
    <div class="space-y-8">
      {page.data.map((article) => {
        return (
          <article>
            <a href={`/archive/detail/${article.slug}`}>
              <h2 class="font-serif font-bold text-3xl text-neutral-900">{article.title}</h2>
              <small class="text-base text-neutral-900 opacity-50">{article.category}</small>
            </a>
          </article>
        );
      })}
    </div>
    <div class="my-8 flex justify-between">
      {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
      {page.url.next ? <a href={page.url.next}>Next</a> : null}
    </div>
  </main>
</Layout>
