---
import SingleImage from "./SingleImage.astro";
import Gallery from "../page-block/Gallery.astro";
import { PortableText } from "astro-portabletext";

const { overview, title } = Astro.props;
---

<div class = "text-block-container mt-8 md:col-span-8 md:grid md:grid-cols-8 md:gap-4">
  {title && (
    <h2 class = "col-span-8 font-serif font-bold text-4xl md:text-6xl text-neutral-900 mb-8 md:mb-16">{title}</h2>
  )}
  { overview && overview.map((block) => {
    if (block._type === 'gallery') {
      return <Gallery gallery={block.type} title={block.title} images={block.pictures} />
    } else if (block._type === 'imageBlock') {
      return <SingleImage url={block.url} size={block.type} caption={block.caption} />
    } else {
      return (
        <div class="col-span-8">
          <PortableText value={block} />
        </div>
      )
    }
  })}
</div>

<style is:global>
  .text-block-container h2 {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #171717;;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .text-block-container h3 {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #171717;;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .text-block-container h4 {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #171717;;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .text-block-container p {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #171717;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .text-block-container blockquote {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #171717;
    margin-top: 0;
    margin-bottom: 16px;
    border-left: 2px solid #171717;
    padding-left: 16px;
  }

  .text-block-container code {
    font-family: monospace;
    font-weight: 400;
    font-size: 16px;
    background-color: #F5F5F5;
    padding: 2px 4px;
  }

  .text-block-container a {
    color: #171717;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-decoration-color: #a3a3a3;
  }

  .text-block-container a:hover {
    text-decoration-color: #171717;
    text-decoration-thickness: 3px;
    transition: all 0.3s ease-in-out;
  }

  .text-block-container ul {
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 24px;
    list-style-type: disc;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #171717;
  }

  .text-block-container ol {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 24px;
    list-style-type: decimal;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #171717;
  }
</style>
