---
import Layout from "../../layouts/Layout.astro";
import {sanityClient} from "sanity:client";
import PageTitle from "../../components/PageTitle.astro";
const exhibitionRawData = await sanityClient.fetch(`
  *[_type == 'exhibition' && defined(dateRange)]|order(dateRange.startDate desc){
    title,
    "year": dateRange.startDate,
    "city": location.city,
    "slug": slug.current
}`);

// 遍历exhibitions，将exhibitions中的每个元素，分别push进两个数组。如：exhibitionYears = [2019,
// 2020]，exhibitionByYears = [[{}, {}, {}], [{}, {}, {}]]
const exhibitionYears = [];
const exhibitionByYears = [];
exhibitionRawData.forEach((exhibition) => {
  const year = exhibition.year.split("-")[0];
  if (exhibitionYears.indexOf(year) === -1) {
    exhibitionYears.push(year);
    exhibitionByYears.push([exhibition]);
  } else {
    exhibitionByYears[exhibitionYears.indexOf(year)].push(exhibition);
  }
});

---
<Layout>
  <PageTitle title="Exhibitions" />
  <main class="max-w-8xl mx-auto grid grid-cols-12 gap-8">
    <div class="mb-40 col-start-2 col-span-10">
      {
        exhibitionYears.map((year) => (
          <div class="grid grid-cols-10">
            <h2 class="col-span-2 font-serif font-bold proportional-nums text-3xl tracking-wider py-6">{year}</h2>
            <ul class="col-span-8 flex-1">
              {
                exhibitionByYears[exhibitionYears.indexOf(year)].map((exhibition) => (
                  <li class="grid grid-cols-5 gap-6 items-center py-6 border-b border-neutral-900 text-neutral-900">
                    <a
                      href={`/exhibition/detail/${exhibition.slug}`}
                      class="col-span-4 font-serif font-bold proportional-nums text-3xl text-neutral-900"
                      data-astro-prefetch
                    >
                      {exhibition.title}
                    </a>
                    <p class="col-span-1 font-sans text-base font-normal text-neutral-900 opacity-50">{exhibition.city}</p>
                  </li>
                ))
              }
            </ul>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
