---
import Layout from "@/layouts/Layout.astro";
import {sanityClient} from "sanity:client";
import PageTitle from "@/components/PageTitle.astro";
import HoverImagePreview from "@/components/HoverImagePreview.tsx";

type ExhibitionSummary = {
  title: string;
  year: string;
  city: string;
  slug: string;
  cover: string;
};

const exhibitionRawData = await sanityClient.fetch<ExhibitionSummary[]>(`
  *[_type == 'exhibition' && defined(dateRange)]|order(dateRange.startDate desc){
    title,
    "year": dateRange.startDate,
    "city": location.city,
    "slug": slug.current,
    "cover": cover.asset->url
}`);

const exhibitionByYear = new Map<string, ExhibitionSummary[]>();

exhibitionRawData.forEach((exhibition) => {
  const year = exhibition.year.split("-")[0];
  const existing = exhibitionByYear.get(year);
  if (existing) {
    existing.push(exhibition);
  } else {
    exhibitionByYear.set(year, [exhibition]);
  }
});

const groupedExhibitions = Array.from(exhibitionByYear.entries()).map(([year, exhibitions]) => ({
  year,
  exhibitions,
}));

---
<Layout
  title="Exhibitions"
  description="Explore Lu Peng's curated exhibitions spanning decades of contemporary Chinese art history."
  type="website"
>
  <PageTitle title="Exhibitions" />
  <main class="max-w-8xl mx-auto grid grid-cols-12 gap-8">
    <div class = "mb-40 col-start-1 col-span-12 space-y-12 p-4 sm:space-y-0 md:col-start-2 md:col-span-10 md:p-0">
      {
        groupedExhibitions.map(({year, exhibitions}) => (
          <div class = "sm:grid sm:grid-cols-10">
            <h2 class = "col-span-2 font-serif font-medium proportional-nums text-3xl tracking-wider sm:py-6">{year}</h2>
            <ul class="col-span-8 flex-1">
              {
                exhibitions.map((exhibition) => (
                  <HoverImagePreview
                    client:only="react"
                    title={exhibition.title}
                    slug={exhibition.slug}
                    type="exhibition"
                    location={exhibition.city}
                    imgUrl={exhibition.cover}
                  />
                ))
              }
            </ul>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
