---
import Layout from "../../layouts/Layout.astro";
import {sanityClient} from "sanity:client";
import PageTitle from "../../components/PageTitle.astro";
import HoverImagePreview from "../../components/HoverImagePreview.tsx";

const exhibitionRawData = await sanityClient.fetch(`
  *[_type == 'exhibition' && defined(dateRange)]|order(dateRange.startDate desc){
    title,
    "year": dateRange.startDate,
    "city": location.city,
    "slug": slug.current,
    "cover": cover.asset->url
}`);

// 遍历exhibitions，将exhibitions中的每个元素，分别push进两个数组。如：exhibitionYears = [2019,
// 2020]，exhibitionByYears = [[{}, {}, {}], [{}, {}, {}]]
const exhibitionYears = [];
const exhibitionByYears = [];
exhibitionRawData.forEach((exhibition) => {
  const year = exhibition.year.split("-")[0];
  if (exhibitionYears.indexOf(year) === -1) {
    exhibitionYears.push(year);
    exhibitionByYears.push([exhibition]);
  } else {
    exhibitionByYears[exhibitionYears.indexOf(year)].push(exhibition);
  }
});

---
<Layout>
  <PageTitle title="Exhibitions" />
  <main class="max-w-8xl mx-auto grid grid-cols-12 gap-8">
    <div class="mb-40 col-start-2 col-span-10">
      {
        exhibitionYears.map((year) => (
          <div class="grid grid-cols-10">
            <h2 class="col-span-2 font-serif font-bold proportional-nums text-3xl tracking-wider py-6">{year}</h2>
            <ul class="col-span-8 flex-1">
              {
                exhibitionByYears[exhibitionYears.indexOf(year)].map((exhibition) => (
                  <HoverImagePreview
                    client:only="react"
                    title={exhibition.title}
                    slug={exhibition.slug}
                    type="exhibition"
                    location={exhibition.city}
                    imgUrl={exhibition.cover}
                  />
                ))
              }
            </ul>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
