---
import { sanityClient } from "sanity:client";
import Layout from "../../../layouts/Layout.astro";
import PageTitle from "../../../components/PageTitle.astro";
import {Image} from 'astro:assets'
import TextBlock from "../../../components/text-block/TextBlock.astro";
import PageBlock from "../../../components/PageBlock.astro";
import NextCase from "../../../components/order/NextCase.astro";

export async function getStaticPaths() {
  const slugs = await sanityClient.fetch(`*[_type == 'caseStudy' && defined(slug)] {
    "slug": slug.current,
    title,
    publishDate,
    "cover": cover.image.asset->url,
    "overview": overview[] {
      _type == 'imageBlock' => {
        type,
        "url": image.asset->url,
        "caption": image.caption
      },
      _type == 'gallery' => {
        type,
        title,
        "pictures": images[]{
          "url": asset->url,
          caption
        }
      },
      ...
    },
    "blocks": pageBlocks[]
      {
        _type == 'gallery' => {
          title, 
          "category": 'gallery',
          "gallery": type, 
          "images": images[]{
            caption,
            "url": asset->url
          }
        },
        _type == 'relatedBooks' => {
          "category": 'books',
          "books": books[]->{
            title,
            publishDate,
            "slug": slug.current,
            "cover": cover.asset->url
          }
        },
        _type == 'relatedArticles' => {
           "category": 'articles',
          "articles": articles[]->{
            title,
            "slug": slug.current,
            category
          }
        },
        _type == 'relatedExhibition' => {
           "category": 'exhibitions',
          "exhibitions": exhibitions[]->{
            title,
            "slug": slug.current,
            "date": dateRange.startDate,
            "city": location.city
          }
        }
      }
  }`);
  const paths = await slugs.map((caseStudy) => {
    return {
      params: {
        caseStudy: caseStudy.slug,
      },
      props: {
        title: caseStudy.title,
        cover: caseStudy.cover,
        overview: caseStudy.overview,
        publishDate: caseStudy.publishDate,
        blocks: caseStudy.blocks,
      }
    };
  });
  return paths;
}

const {title, cover, overview, publishDate, blocks} = Astro.props;
---

<Layout title = {title}>
  <PageTitle title={title} />
  <div class = "p-4 flex flex-col gap-8 8xl:p-0 lg:max-w-8xl lg:mx-auto lg:grid lg:grid-cols-12 mb-24">
    <main class = "col-start-4 col-end-12 md:grid md:grid-cols-8 md:gap-8">
      {cover &&
        <Image
          class = "mb-8 md:mb-0 md:col-span-8"
          src = {cover}
          alt = {title}
          width = "640"
          height = "427"
        />
      }
      <TextBlock overview={overview} />
      {blocks && <PageBlock blocks={blocks} />}
    </main>
    <NextCase slug = {Astro.params.caseStudy}/>
  </div>
</Layout>

<style is:global>
  .swiper {
    overflow: visible !important;
  }
</style>
