---
import {sanityClient} from "sanity:client";
import Layout from "../../../layouts/Layout.astro";
import {Image} from 'astro:assets'
import PageTitle from "../../../components/PageTitle.astro";
import TextBlock from "../../../components/text-block/TextBlock.astro";
import PageBlock from "../../../components/PageBlock.astro";

export async function getStaticPaths() {
  const slugs = await sanityClient.fetch(`*[_type == 'book' && defined(slug) && defined(publishDate)] | order(publishDate desc) {
    "slug": slug.current,
    title,
    subtitle,
    overview,
    category,
    publishDate,
    publisher,
    "cover": cover.asset->url,
    "people": people[]{name, title},
    "blocks": pageBlocks[] {
      _type == 'relatedExternalLinks' => {
        "category": _type,
        "links": links[]{
          title,
          tag,
          url
        }
      },
      _type == 'relatedInternalLinks' => {
        "category": _type,
        "links": links[]->{
          "type": _type,
          title,
          "slug": slug.current
        }
      }
    }
  }`);
  const paths = await slugs.map((book) => {
    return {
      params: {
        book: book.slug,
      },
      props: {
        title: book.title,
        subtitle: book.subtitle,
        cover: book.cover,
        category: book.category,
        publishDate: book.publishDate,
        publisher: book.publisher,
        people: book.people,
        overview: book.overview,
        blocks: book.blocks
      }
    };
  });
  return paths;
}

const {
  title,
  subtitle,
  cover,
  category,
  publishDate,
  publisher,
  people,
  overview,
  blocks
} = Astro.props
---
<Layout title={title} backUrl="/book/category" backText="Publications">
  <PageTitle title={title} subtitle={subtitle} />
  <div class="max-w-8xl mx-auto grid grid-cols-12 gap-8 mb-48">
    <aside class="space-y-8 col-start-1 col-end-3 sticky top-1/4 h-fit">
      <!--相关人-->
      {people && (
        <ul class="space-y-8 pl-0 list-none">
          {people.map((person) => (
            <li>
              <h3 class="my-4 text-sm font-sans text-neutral-900 opacity-50 tracking-widest uppercase">{person.title}</h3>
              <p class="my-2 text-lg font-semibold font-serif">{person.name}</p>
            </li>
          ))}
        </ul>
      )}

      <!--出版社-->
      {publisher && (
        <div class="space-y-2">
          <h3 class="my-4 text-sm font-sans text-neutral-900 opacity-50 tracking-widest uppercase">Publisher</h3>
          <p class="my-2 text-lg font-semibold font-serif">{publisher}</p>
        </div>
      )}

      <!--出版日期-->
      {publishDate && (
        <div class="space-y-2">
          <h3 class="my-4 text-sm font-sans text-neutral-900 opacity-50 tracking-widest uppercase">Publication Date</h3>
          <p class="my-2 text-lg font-semibold font-serif">{new Date(publishDate).getFullYear()}</p>
        </div>
      )}
    </aside>
    <main class="col-start-4 col-end-12 grid grid-cols-8 gap-8">
      { cover &&
        <div class="col-start-1 col-span-8 grid grid-cols-8 gap-8 w-4/5 bg-gray-50 p-16">
          <Image src={cover} alt={title} width="640" height="420" class="col-start-1 col-span-6 shadow-2xl" />
        </div>
      }
      <div class="col-span-8">
        <TextBlock overview={overview} />
      </div>
      {blocks && <PageBlock blocks={blocks} />}
    </main>
  </div>
</Layout>

<style is:global>
  .swiper {
    overflow: visible !important;
  }
</style>
