---
function generateLink(type, slug) {
  switch (type) {
    case 'article':
      return `/archive/detail/${slug}`;
    case 'book':
      return `/book/detail/${slug}`;
    case 'exhibition':
      return `/exhibition/detail/${slug}`;
    default:
      return `/`;
  }
}

const {links, title} = Astro.props;
---

<div class = "col-start-1 col-span-8">
  <h2 class = "font-serif font-bold text-6xl text-neutral-900 mb-16">
    {title ?? 'Details'}</h2>
  <div class = "flex flex-col gap-8">
    {links.map((page) => {
      return (
        <a href = {generateLink(page.type, page.slug)} class = "no-underline">
          <h3
            class = "mb-4 mt-4 font-serif font-bold text-3xl md:text-3xl text-neutral-900"
          >{page.title}</h3>
          <p class = "my-2 text-neutral-900 opacity-50 capitalize">{page.type}</p>
        </a>
      )
    })}
  </div>
</div>
