---
import {Image} from 'astro:assets'

function getYear(date) {
  return new Date(date).getFullYear()
}

const { books } = Astro.props
---

<div class="my-24">
  <hgroup class="my-12 flex justify-between items-baseline max-w-3xl">
    <h2 class="font-serif font-bold text-neutral-900 text-5xl">Publications</h2>
    <p class="font-sans text-base text-neutral-900 opacity-50">{books.length} books</p>
  </hgroup>
  <ul class="grid grid-rows-2 justify-items-start grid-flow-col gap-8 overflow-scroll">
    {books.map((book) => (
      <li class="w-96">
        <a class="flex gap-6" href={`/book/detail/${book.slug}`}>
          <div class="aspect-square bg-gray-50 flex justify-center items-center">
            <Image class="object-contain h-3/4 w-3/4" src={book.cover} alt={book.title} width="160" height="160" />
          </div>
          <div class="flex-1">
            <h3 class="font-serif font-bold text-3xl text-neutral-900 mb-3">{book.title}</h3>
            <small class="font-sans text-base text-neutral-900 opacity-50">{getYear(book.publishDate)}</small>
          </div>
        </a>
      </li>
    ))}
  </ul>
</div>

<style>
  //内部元素从上到下，从左到右排列，总共两行。第二个在第一列第二行，第三个在第二列第一行
  .books-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
</style>
