---
type LinkItem = {
  type: string;
  title: string;
  slug?: string;
  url?: string;
} | null;

type NonNullableLinkItem = Exclude<LinkItem, null>;

function generateLink(type: string, slug?: string, url?: string) {
  switch (type) {
    case 'article':
      return `/collection/detail/${slug}`;
    case 'book':
      return `/book/detail/${slug}`;
    case 'exhibition':
      return `/exhibition/detail/${slug}`;
    case 'file':
      return url;
    default:
      return `/`;
  }
}

const {
  links = [],
  assets = [],
  title,
} = Astro.props as {
  links?: LinkItem[];
  assets?: LinkItem[];
  title?: string;
};

// 将links和assets的非空元素合并成一个数组
const mergedArray = links.reduce<NonNullableLinkItem[]>((result, link, index) => {
  if (link !== null) {
    result.push(link);
  } else if (assets[index] !== null && assets[index] !== undefined) {
    result.push(assets[index] as NonNullableLinkItem);
  }
  return result;
}, []);

---

<div class = "col-start-1 col-span-8 my-4 lg:my-16">
  <h2 class = "font-serif font-bold text-3xl md:text-5xl text-neutral-900 mb-4 lg:mb-16">
    {title ?? 'Find out more'}</h2>
  <div class = "flex flex-col gap-4 lg:gap-8">
    {mergedArray.map((page) => {
      return (
        <a
          href = {generateLink(page.type, page.slug, page.url)} class = "no-underline"
          target = {`${page.url ? '_blank' : '_self'}`}
        >
          <h3
            class = "mb-0 md:mb-2 lg:my-4 font-serif font-bold text-2xl md:text-3xl text-neutral-900"
          >{page.title}</h3>
          <p class = "font-sans my-2 text-sm md:text-base text-neutral-900 opacity-50 capitalize">{page.type}</p>
        </a>
      )
    })}
  </div>
</div>
