---
import {sanityClient} from "sanity:client";
import PageTitle from "../../../../components/PageTitle.astro";
import Layout from "../../../../layouts/Layout.astro";
import Category from "../../../../data/ArchiveCategory";
import Pagination from "../../../../components/Pagination.astro";
export async function getStaticPaths({paginate}) {
  const allCategory: string[] = Category.map((category: { name: string, slug: string }) => category.slug);
  const allArticles = await sanityClient.fetch(`*[_type == 'article' && defined(slug) && defined(publishDate) && defined(category)] | order(publishDate desc) {
    title,
    publishDate,
    category,
    "slug": slug.current,
  }`);
  return allCategory.flatMap((category) => {
    // 根据入参slug在Category查询对应的name
    const categoryName = Category.find((item) => item.slug === category).name;
    const filteredArticles = allArticles.filter((article) => article.category == categoryName);
    return paginate(filteredArticles, {
      params: {category},
      pageSize: 10,
    })
  })
}

const ArticleCategories = Category;
const { page } = Astro.props;
const params = Astro.params;
---

<Layout title = {`${params.category.replace(/-/g, ' ')} - Collections`}>
  <PageTitle
    title = "Collection"
    localImg = "/images/archive-cover.jpg"
    bgWhite = "false"
  />
  <main
    id = "main-content"
    class = "max-w-8xl mx-auto px-4 flex flex-col gap-8 8xl:px-0 lg:grid lg:grid-cols-12 py-8 lg:py-16 mb-12 md:mb-24"
  >
    <ul class = "col-span-12 flex gap-4 flex-wrap lg:flex-col lg:col-span-2">
      <li class = "text-sm text-neutral-900 tracking-wider opacity-50 hover:opacity-100">
        <a
          href = {`/collection/all/1#main-content`}
          data-astro-prefetch
        >
          ALL
        </a>
      </li>
      {ArticleCategories.map((category) => {
        return (
          <li
            class = {`${category.slug === params.category ? 'text-neutral-900' : 'text-neutral-900 opacity-50'} uppercase text-sm tracking-wider hover:opacity-100`}
          >
            <a
              href = {`/collection/category/${category.slug}/1#main-content`}
              data-astro-prefetch
            >
              {category.name}
            </a>
          </li>
        );
      })}
    </ul>
    <div class = "col-span-12 lg:col-start-4 col-end-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class = "space-y-8 col-span-8">
        {page.data.map((article) => {
          return (
            <article>
              <a href = {`/collection/detail/${article.slug}`}>
                <h2
                  class = "font-serif font-bold text-2xl md:text-3xl text-neutral-900 mb-0 md:mb-2"
                >{article.title}</h2>
                <small class = "text-sm md:text-base text-neutral-900 opacity-50">{article.category}</small>
              </a>
            </article>
          );
        })}
      </div>
    </div>
  </main>
  <Pagination page = {page} paddingClass = "py-40" />
</Layout>
