---
import { sanityClient } from "sanity:client";
import { Image } from "astro:assets";
type Book = {
  title: string;
  slug: string;
  publishDate: string;
  cover?: { url?: string | null } | null;
};

const booksData = await sanityClient.fetch<Book[]>(`
  *[_type == 'book'&& defined(slug) && defined(publishDate)] | order(publishDate desc){
    title,
    "slug": slug.current,
    "publishDate": publishDate,
    "cover": cover.asset->{url}
}[0..3]
`);
---

<div
  class="col-start-1 col-span-12 mb-8 p-4 sm:p-0 sm:col-start-2 sm:col-span-10 lg:mb-40"
>
  <hgroup
    class="flex justify-between items-baseline text-neutral-900 mb-8 md:mb-20"
  >
    <h2 class="font-bold text-3xl md:text-5xl font-serif">Publications</h2>
    <p class="flex items-center gap-2">
      <a
        href="/book/category"
        class="text-lg md:text-2xl font-thin font-serif"
        data-astro-prefetch>View more&nbsp;&nbsp;→</a
      >
    </p>
  </hgroup>
  <ul class="grid grid-cols-1 gap-8 md:grid-cols-2">
    {
      booksData.map((book) => (
        <li>
          <a
            href={`/book/detail/${book.slug}`}
            class="flex gap-4"
            data-astro-prefetch
          >
            <div class="h-32 w-32 bg-neutral-100 flex items-center justify-center shrink-0">
              {book.cover?.url && (
                <Image
                  src={book.cover.url}
                  alt={book.title}
                  class="object-cover h-full"
                  height="360"
                  width="360"
                  format="avif"
                  loading="lazy"
                />
              )}
            </div>
            <div class="space-y-2">
              <h3 class="font-serif font-medium text-neutral-900 text-2xl">
                {book.title}
              </h3>
              <p class="text-neutral-900 opacity-50">
                {new Date(book.publishDate).getFullYear()}
              </p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</div>