---
import {sanityClient} from "sanity:client";
import {Image} from 'astro:assets';
const exhibitionData = await sanityClient.fetch(`
  *[_type == 'exhibition' && defined(dateRange)]|order(dateRange.endDate desc){
    title,
    "year": dateRange.endDate,
    "city": location.city,
    "cover": {
      "url": cover.asset->{url},
      "caption": cover.caption
    }
  }`)
---
<div class="w-full mx-auto mb-24 px-4 overflow-hidden">
  <hgroup class = "flex justify-between items-center text-neutral-900 mb-8">
    <h2 class = "font-bold text-4xl md:text-5xl font-serif">Exhibitions</h2>
    <div class = "flex items-center gap-2">
      <p class = "text-2xl font-thin font-serif">View more</p>
      <svg
        xmlns = "http://www.w3.org/2000/svg" fill = "none" viewBox = "0 0 24 24"
        stroke-width = "1.5" stroke = "currentColor" class = "w-5 h-5"
      >
        <path
          stroke-linecap = "round" stroke-linejoin = "round"
          d = "M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
        />
      </svg>
    </div>
  </hgroup>
  <div class="w-full">
    <div class="overflow-x-auto">
      <ul class="flex gap-8 overflow-auto touch-pan-x cursor-grab w-fit"
          style="scroll-snap-type: x mandatory;"
      >
        {exhibitionData.map((exhibition) => {
          const info = `
        ${exhibition.year.split('-')[0]}
        ${exhibition.city? ' · ' + exhibition.city : ''}
      `
          return (
            <li class="space-y-4">
              <div class="cover-img aspect-[3/2] bg-gray-200">
                {exhibition.cover.url && (
                  <Image
                    src={exhibition.cover.url.url}
                    alt={exhibition.cover.caption ?? exhibition.title}
                    class="object-cover w-full h-full"
                    width="528"
                    height="352"
                  />
                )}
              </div>
              <h3 class="font-serif font-bold text-3xl text-neutral-900">{exhibition.title}</h3>
              <p class="text-neutral-900 opacity-50">
                {info}
              </p>
            </li>
          )
        })}
      </ul>
    </div>
  </div>
</div>

<style>
  .cover-img {
    width: 320px;
    height: 213px;
  }
  @media (min-width: 768px) {
    .cover-img {
      width: 528px;
      height: 352px;
    }
  }
</style>
