---
const currentYear = new Date().getFullYear().toString();
const headingClass =
  "text-gray-400 tracking-widest uppercase text-sm mb-2 inline-block";
const listClass =
  "col-span-10 md:col-span-2 list-none pl-0 space-y-2 mb-6";
const linkClass =
  "no-underline font-serif text-lg text-gray-700 hover:underline hover:text-gray-900 inline-block";
const itemClass = "my-1";
---

<footer
  class="container grid grid-cols-4 gap-4 px-4 mx-auto md:px-0 md:gap-8 md:grid-cols-12"
>
  <section class="col-span-4 py-10 border-t md:col-span-10 md:col-start-2">
    <div class="grid md:grid-cols-10 md:gap-8">
      <ul class = {listClass}>
        <span class={headingClass}>Navigation</span>
        <li class={itemClass}><a class = {linkClass} href = "/about">About</a></li>
        <li class={itemClass}><a class = {linkClass} href = "/exhibition">Exhibitions</a></li>
        <li class={itemClass}><a class = {linkClass} href = "/book/category">Publications</a></li>
        <li class={itemClass}><a class = {linkClass} href = "/teaching">Teaching</a></li>
        <li class={itemClass}><a class = {linkClass} href = "/collection/all/1">Collection</a></li>
        <li class={itemClass}><a class = {linkClass} href = "/on-artists">On Artists</a></li>
      </ul>
      <ul class = {listClass}>
        <span class={headingClass}>Social</span>
        <li class={itemClass}>
          <a
            class = {linkClass}
            href = "https://weibo.com/u/1087499432" rel = "noopener noreferrer" target = "_blank"
          >Weibo</a>
        </li>
        <li class={itemClass}>
          <a
            class = {linkClass}
            href = "https://www.xiaohongshu.com/user/profile/614f52d2000000001f03f1e4" rel = "noopener noreferrer"
            target = "_blank"
          >Xiaohongshu</a>
        </li>
        <li class={itemClass}>
          <a
            class = {linkClass}
            href = "https://www.instagram.com/lvpeng60" rel = "noopener noreferrer" target = "_blank"
          >Instagram</a>
        </li>
      </ul>
      <ul class = {listClass}>
        <span class={headingClass}>Contact</span>
        <li class={itemClass}>
          <a
            class = {linkClass}
            href = "mailto:info@luhistory.com"
          >
            info@luhistory.com
          </a>
        </li>
      </ul>
      <div
        class="col-span-10 text-gray-400 md:col-start-7 md:col-span-4 md:text-right"
      >
        &copy; {currentYear}
        <span class="uppercase">Lü Peng</span>
      </div>
    </div>
  </section>
</footer>
