---
const {title, subtitle, bgWhite = true} = Astro.props;
// 根据title的长度，返回一个4-9之间的数字
function getTextSize(size) {
  if (size < 20) {
    return 'text-9xl';
  } else if (size < 50) {
    return 'text-8xl';
  } else if (size < 80) {
    return 'text-7xl';
  } else {
    return 'text-6xl';
  }
}

const titleSize = getTextSize(title.length);
---

<header>
  {bgWhite === true ?
    <hgroup class = "w-full max-w-8xl mx-auto grid grid-cols-12 gap-8 z-10 py-24">
      <h1
        class = {`col-start-4 col-end-12 font-serif font-bold text-neutral-900 ${titleSize} leading-snug`}
      >{title}</h1>
      {subtitle &&
        <h2
          class = "col-start-4 col-end-12 font-serif font-semibold text-2xl text-neutral-900 my-8"
        >{subtitle}</h2>
      }
    </hgroup>
      :
    <hgroup class = "bg-img">
      <div class = "w-full max-w-8xl mx-auto grid grid-cols-12 px-8 z-10">
        <h1
          class = {`col-start-4 col-end-12 text-white font-serif font-bold text-neutral-900 ${titleSize} leading-snug`}
        >{title}</h1>
        {subtitle &&
          <h2
            class = "col-start-4 col-end-12 font-serif font-semibold text-2xl text-white my-8"
          >{subtitle}</h2>
        }
      </div>
      <div class = "overlay"></div>
    </hgroup>
  }
</header>

<style>
  .bg-img {
    background-image: url('/src/assets/images/cover.jpg');
    width: 100vw;
    height: 800px;
    margin-top: -104px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    z-index: 1;
  }
</style>
