---
import Layout from "../../../layouts/Layout.astro";
import {sanityClient} from "sanity:client";
import {Image} from 'astro:assets'
import PageTitle from "../../../components/PageTitle.astro";

const books = await sanityClient.fetch(`*[_type == 'book' && defined(slug) && defined(publishDate) && defined(category)] | order(publishDate desc) {
    title,
    publishDate,
    category,
    "slug": slug.current,
    "cover": cover.asset->url
}`);
---

<Layout>
  <PageTitle title="Publications" subtitle="Repellat molestiae nihil iusto quo quia. In voluptatum hic libero omnis ullam deleniti. Quia vel voluptatem voluptatem excepturi omnis id." bgWhite="flase" />

  {books.map((book) => (
    <div>
      <h2>{book.title}</h2>
      <Image src={book.cover} alt={book.title} width="120" height="120" />
      <p>{book.publishDate.split('-')[0]}</p>
    </div>
  ))}
</Layout>
